
.idea/libraries/rule.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
VocationalSystem/src/reglas/SE.java
VocationalSystem/src/reglas/SE.java
VocationalSystem/src/reglas/SE.java
